body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
}

.container {
  padding: 20px;
  background-color: white;
  max-width: 400px;
  margin: 40px auto;
  border-radius: 10px;
  box-shadow: 0 0 10px #ccc;
}

header h2 {
  margin: 0;
}

.actions button {
  display: block;
  width: 100%;
  margin: 10px 0;
  padding: 12px;
  background-color: #4caf50;
  color: white;
  border: none;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
}

.transactions ul {
  padding-left: 20px;
}

.page {
  max-width: 400px;
  margin: 40px auto;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px #ccc;
}

input,
select {
  width: 95%;
  margin: 10px 0;
  padding: 10px;
  font-size: 16px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.page button {
  margin-top: 10px;
  padding: 12px;
  width: 100%;
  background-color: #2196f3;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
